@page "/games/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Page</h3>
<FormComponent game="game" Disabled="true" />


@code {
    
    [Parameter] public int id { get; set; }
    Games game = new Games();
    protected async override Task OnParametersSetAsync()
    {
        game = await _client.GetFromJsonAsync<Games>($"{Endpoints.GamesEndPoint}/{id}");
    }
}
